<div class="col-xs-offset-1 col-xs-10 container-md mt-5">

  <div data-bind="visible: selected.found === true">

    <div class="row mb-5 flex justify-content-between">
      <button class="previous mr-3 col-xs-4 col-sm-2 col-lg-1 btn btn-light" data-bind="css: {'hidden' : !selected.hasPrevious}, click: previous">Previous</button>
      <button class="next col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-8 col-lg-1 col-lg-offset-10 btn btn-light" data-bind="css: { 'hidden': !selected.hasNext }, click: next">Next</button>
    </div>

    <div class="row status mb-4 w-50 d-flex justify-content-between align-items-center">
      <h2 class="selectedName text-info" data-bind="text: selected.name"></h2>
      <span data-bind="text: selected.selectedOf" />
    </div>
    <!-- card will be render here - we creating a composition -->
    <div class="row" data-bind="router: {transition: 'entrance'}"></div>
  </div>

  <div data-bind="visible: selected.found === false">
    <h2>Card not found.</h2>
  </div>

</div>